.com {
  font-size: 14px;
  padding: 1rem;
  border-left: var(--border-in-light);
  transition: width 0.2s;
  :global {
    .ant-steps-item-description {
      margin-top: 0.3rem;
    }
  }
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
